@charset "utf-8";
* {
	margin: 0;
	padding: 0;
	outline: none;
}

html {height: 100%}

body {
	width: 100%;
	height: 100%;
	color: #333;
	background: #f7f7f7;
	font-size: 1em;
	font-family: "segoe UI", sans-serif;
	line-height: 135%;
}

a {
	color: f48b8b;
	text-decoration: none;
	transition: all.6s easy;
	-moz-transition: all.6s easy;
	-webkit-transition: all.6s easy;
	-ms-transition: all.6s easy;
}

a.hover {
	color: 8b9ff5;
	text-decoration: none;
	transition: all.6s easy;
	-moz-transition: all.6s easy;
	-webkit-transition: all.6s easy;
	-ms-transition: all.6s easy;
}

a.active {
	color: #8ce4a6;
}

img {
	max-width: 100%;
	height: auto;
	width: auto\9;
}

hr {
	display: block;
	border: 0;
	height: 1 px;
	border-top: 1px solid #ccc;
	padding: 0 px;
}

.right {float: right}
.left {float: left}
.clear {clear: both}

/* Выбор блоков */

::selection {background: #f58b8b; color: #fff}

header, footer {
	width: 98%;
	background-color: #DCDCDC;
	padding: 1%;
}

header {
	border-bottom: 2px solid silver;
	padding: 1%;
}

#logo {
	font-size: 2em;
	font-family: Comic Sans MS, sans-serif;
	color: #008B8B;
}

.contact {
	font-size: 1.5em;
	font-family: Comic Sans MS, sans-serif;
	margin-left: 20px;
}

input[type=text].field {
	border-radius: 5px;
	border: 2px solid silver;
	padding: 6px;
	margin-left: 20px; 
}

input[type=text].field:focus {
	border: 2px solid #f58b58b;
}

#menu {
	color: #444;
	font-family: Comic Sans MS, sans-serif;
	font-size: 1.7em;
}

#menu hr {
	width: 500px;
	max-width: 100%;
	margin-top: 5px;
	margin-bottom: 10px;
}

#MenuHrefs a {
	padding: 10px;
	border-radius: 5px;
	margin-right: 5px;
	color: #626262;
}

#MenuHrefs a:hover {background-color: #ececec}

/* Основные стили для сайта */

#wrapper {
	float: left;
	width: 100%;
	margin-top: -700px;

}

#wrapper #articles {
	float: left;
	width: 80%;
	margin-left: 10%;
}

#wrapper #articles article {
	width: 31.33333%;
	border: 1px solid silver;
	box-sizing: border-box;
	border-radius: 5px;
	background-color: #fafafa;
	margin-right: 2%;
	min-height: 200px;
	float: left;
}

#wrapper #articles article img {
	width: 100%;
	height: 200px;
	border-radius: 5px 5px 0px 0px;
	border-bottom: 1px solid silver;
	margin-bottom: 10px;
}

#wrapper #articles article img h2 {
	width: 98%;
	margin-left: 5%;
	font-weight: normal;
	font-size: 1.7em;
	color: #8ce4a6;
}

#wrapper #articles article img p {
	width: 80%;
	margin-left: 10%;
	text-indent: 1em;
}

/* Страница "О нас" */

#about_us {
	width: 100%;
	float: left;
	background-color: #fafafa;
	border-radius: 5px;
	border: 1px solid silver;
	box-sizing: border-box;
	padding: 1%;
}

/* Центральный блок сайта */

#main_soc_block {
	width: 100%;
	padding: 2% 0;
	border-bottom: 2px solid silver;
	border-top: 2px solid silver;
	margin: 200px 0;
	float: left;
	background: url("panama.jpg") repeat-x center 0;
	height: 300px;
}

#main_soc_block_in {
	text-align: center;
	padding: 1%;
	height: 100px;
	background-color: #fafafa;
	border: 1px solid silver;
	border-radius: 7px;
	width: 500px;
}

#main_soc_block_in a {
	float: left;
	padding: 5px 10px;
	background-color: #e9af32;
	border-radius: 6px;
	color: #fff;
	margin-left: 35%;
	margin-top: 15px;
}

/* Стили для футера */

footer {
	padding:1%;
	border-top: 2px solid silver;
	margin-top: 10px;
	padding-bottom: 2%;
}

#page-wrap:after {
	content: "";
	display: block;
}

footer, #page-wrap:after {height: 10px}

#page-wrap {
	min-height: 94%;
	margin-bottom: -10px;
}